<% provide(:title, 'About us') %>

<h1>About us</h1>
<p>We're a team of incredibly creative and innovative people making the world a better place.</p>

<p>See us at <%= link_to 'GoogleIO', 'http://google.com/io' %>
